@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}
@*@{
        Layout = null;
    }*@
<h1>@*@ViewData["Title"]*@</h1>
<h1 id="profileh1ID">Create your profile</h1>



@*<div class="row">*@
<div class="col-lg registerDiv">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        @*<h4>Create a new account.</h4>*@
        @*<hr />*@
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Input.BusinessNumber"></label>
            <input placeholder="BIN number: BC192392939293" asp-for="Input.BusinessNumber" class="form-control" />
            <span asp-validation-for="Input.BusinessNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.BusinessName"></label>
            <input placeholder="Business Name" asp-for="Input.BusinessName" class="form-control" />
            <span asp-validation-for="Input.BusinessName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.WebsiteURL"></label>
            <input placeholder="https://abc.com" asp-for="Input.WebsiteURL" class="form-control" />
            <span asp-validation-for="Input.WebsiteURL" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.StreetNumber"></label>
            <input placeholder="Street number and name" asp-for="Input.StreetNumber" class="form-control" />
            <span asp-validation-for="Input.StreetNumber" class="text-danger"></span>
            <div class="cityProvince">
                <input placeholder="City" asp-for="Input.City" class="form-control" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
                <input placeholder="Province" asp-for="Input.Province" class="form-control" />
                <span asp-validation-for="Input.Province" class="text-danger"></span>
            </div>
            <input placeholder="PostalCode" asp-for="Input.PostalCode" class="form-control" />
            <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
        </div>




        <div class="form-group">
            <label asp-for="Input.OpeningTime"></label>
            <input placeholder="24hour format: 17 for 5pm" asp-for="Input.OpeningTime" class="form-control" />
            <span asp-validation-for="Input.OpeningTime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.ClosingTime"></label>
            <input placeholder="24hour format: 17 for 5pm" asp-for="Input.ClosingTime" class="form-control" />
            <span asp-validation-for="Input.ClosingTime" class="text-danger"></span>
        </div>






        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    @*</div>*@
    @*<div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>*@
</div>


<script src="~/js/clientProfileForm.js"></script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}

